*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner p{
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 5px;
}

.inner button{
    padding: 2px 8px;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: bold;
}



section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #808080;
    border-radius: 8px;
    padding: 20px 20px;
    box-shadow:  0 0 5px black;

}


section h3{
    margin-bottom: 4px;
}

#btn3{
    margin-top: 4px;
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid black;
    font-weight: bold;
}